<footer id="footer">
	<div class="inner">
		<a href="/" class="footer-logo">
			<img src="<%= RELATIVE_PATH %>img/common/footer-logo.svg" alt="HYPERTEK">
		</a>
		<ul class="footer-note">
			<li>
				<a href="mailto:sales@hypertek.vn">
					<img src="<%= RELATIVE_PATH %>img/common/email.svg" alt="email">
					<span>sales@hypertek.vn</span>
				</a>
			</li>
			<li>
				<a href="https://www.google.com/maps/place/%C4%90.+Ph%C3%BA+Di%E1%BB%85n%2F293+Ng.+68+%C4%90.+Ph%C3%BA+Di%E1%BB%85n,+T%E1%BB%95+01,+B%E1%BA%AFc+T%E1%BB%AB+Li%C3%AAm,+H%C3%A0+N%E1%BB%99i,+Vietnam/@21.046102,105.7640528,17z/data=!3m1!4b1!4m6!3m5!1s0x313454c44622537b:0x203eb8cac5705d1!8m2!3d21.046097!4d105.7666277!16s%2Fg%2F11vbthyj0b?entry=ttu" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/common/maps.svg" alt="maps">
					<span>293/68 Phu Dien, Bac Tu Liem district, Ha Noi, Viet Nam</span>
				</a>
			</li>
			<li>
				<a href="tel:0984306969">
					<img src="<%= RELATIVE_PATH %>img/common/tel.svg" alt="tel">
					<span>+84 984 306 969</span>
				</a>
			</li>
		</ul>
		<a href="" id="backtop">
			<img src="<%= RELATIVE_PATH %>img/common/backtop.svg" alt="backtop">
		</a>
		<div class="copyright c-al--c">
			@copyright by Hypertek
		</div>
	</div>
</footer>